.operatorInputEnteringContainer {
    width: 368px;
    height: 123px;
    margin-bottom: 90px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.operatorInputEnteringContainer h2 {
    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 32px */
    letter-spacing: -0.96px;
}

.select {
    /*margin-top: 25px;*/
    cursor: pointer;
}
