.header {
    width: 100%;
    height: 137px;
    /*background-color: #ccc8a1;*/
}

.title {
    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 64px */
    letter-spacing: -1.92px;
}
